
div .studapp{
	background-color:white;
	border:1px solid grey;
	margin: 10px;
}

.studapp .moreinfo table{
	margin: 2%;
}

#wid{
	width: 90%;
}

.moreinfo p{
	margin: 2%;
}

.studapp .moreinfo{
	background-color:#fbfbfb;
	border: 1px solid grey;
}

.studapp .top{
	border: 1px solid grey;
	padding: 2%;
}

table, th, td{
	border:1px solid black;
	border-collapse:collapse;
	padding:2%;
}

h2, h4{
	padding:2%;
}

.buffer{
	clear:both;
}

input[type=checkbox]{
	margin-right:2%;
	margin-top:5%;
	float:right;
	width:20px;
	height:20px;
}

a:link {
    text-decoration: none;
}

#delete{
	margin-left: 25px;
	margin-top: 20px;
	background-color: #f0f0f0;
	font-size:12pt;
	padding:5px;
	float:left;
}


body {
  margin: 0 auto;
  font-family: Verdana, sans-serif;
  position: relative;
  background-color: #f2f2f2;
}

header {
  width: 100%;
  background: #413293;
  color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 120px;
}

header p{
	height: 50%%;
	color: #f2f2f2;
}

main {
  width: 100%;
  background-color: #f2f2f2;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 11pt;
}

#login{
	width:100%;
	background-color: #f0f0f0;
	border-top: 1px solid grey;
	border-bottom:1px solid grey;
}

form{
	margin:10px;
}

#login input{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:20px;
}

  /* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

footer {
  width: 100%;
  background: #f2f2f2;
  text-align: center;
  color: #231F20;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 8pt;
  border-bottom: 30px solid #413293;
}

nav {
  width: 100%;
  background: #f2f2f2;
  text-align: center;
}

nav  button{
  margin-left: 25px;
  margin-top: 20px;
  background-color: #f0f0f0;
  font-size:12pt;
  padding:5px;
  float:left;
}

.print{
	font-size:12pt;
	margin:2%;
}

